<% provide(:title, "#{@client.codeclient}") %>
<div class="header">
  <div class="panel panel-success">
    <div class="panel-heading">
      <%= @client.codeclient %>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#one" data-toggle="tab">Profil</a></li>
      <li><a href="#two" data-toggle="tab">Dossiers</a></li>
      <li><a href="#three" data-toggle="tab">Commande</a></li>
      <li><a href="#four" data-toggle="tab">paiements</a></li>
    </ul>
    <div class="tab-content">
      <div id="one" class="tab-pane active">
        <%= render 'profil' %>
      </div>
      <div id="two" class="tab-pane">
        two
      </div>
      <div id="three" class="tab-pane">
        three
      </div>
      <div id="four" class="tab-pane">
        four
      </div>
    </div>


  </div>
</div>
