<div class="panel panel-info">
  <div class="panel-heading">
    Tiers
  </div>

  <ul class="nav nav-stacked">
    <li><%= link_to 'Fournisseurs', owners_path %></li>
    <li><%= link_to 'Clients', clients_path %></li>
  </ul>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    Services
  </div>

  <ul class="nav nav-stacked">
    <li><%= link_to 'Produits', buildings_path %></li>
  </ul>
</div>
